* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #1a1a1a;
}
main {
    background-color: #4b4b4b;
    display: flex;
}

h1 {
    color: white;
    background-color: black;
}
nav {
    color: white;
    background-color: #4b4b4b;
}
nav ul {
    display: flex;
    justify-content: center;
}
aside {
    background-color: white;
}
p {
    color: white;
    background-color: #1a1a1a;
}
section {
    display: flex;
    flex-flow: wrap;
}